<tbody>
    <tr>
        <td>
            Total Post:
        </td>
        <td>
            ${BooksApproved}
        </td>
    </tr>
    <tr>
        <td>
            Pending Post:
        </td>
        <td>
            ${BooksUnApproved}
        </td>
    </tr>
    <tr>
        <td>
            No. of Regsitered Users:
        </td>
        <td>
            ${ApprovedUsers}
        </td>
    </tr>
    <tr>
        <td>
            Users waiting for Approval:
        </td>
        <td>
            ${UnApprovedUsers}
        </td>
    </tr>
    <tr>
        <td>
            Total Comments:
        </td>
        <td>
            ${Comments}
        </td>
    </tr>
</tbody>
