<div id="left">
    <div class="post" id="post-52">
        <p class="aligncenter">
        </p>
        <div class="title">
            <h2>
                <a href="http://demo.fabthemes.com/valor/video/oblivion/" rel="bookmark" title="Permanent Link to Oblivion">
                    ${Title}</a></h2>
            <div class="postmeta">
                <span>Posted by <a href="http://demo.fabthemes.com/valor/author/admin/" title="Posts by admin"
                    rel="author">${User}</a></span> | <span class="DateTime"></span>
            </div>
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb="button_count" like="button_count" layout="button_count">
                </a><a class="addthis_button_tweet"></a><a class="addthis_counter addthis_pill_style">
                </a>
            </div>
        </div>
        <div class="entry">
            <img width="150" height="200" src="../../BookImages/${BookImageName}" class="vs-image wp-post-image"
                alt="32" title="32" />
            <p class="bookDescription">
            </p>
            <div class="clear">
            </div>
        </div>
        <div>
            <h2>
                Product Details</h2>
            <ul class="detailspace">
                <li class="space"><strong><span>ISBN: </span></strong><span>${ISBN} </span></li>
                <li class="space"><strong><span>Author: </span></strong><span>${Author}</span> </li>
                <li class="space"><strong><span>Publisher: </span></strong><span>${Publisher}</span>
                </li>
                <li class="space"><strong><span>Edition: </span></strong><span>${Edition}</span>
                </li>
                <li class="space"><strong><span>Condition: </span></strong><span>${Condition}</span>
                </li>
                <li class="space"><strong><span>Price: </span></strong><span>${Price}</span> </li>
                <li class="space"><strong><span>Contact: </span></strong><span>${CellPhone}</span>
                </li>
            </ul>
            <button class="k-button" title="MyWish" type="${Book_Id}" style="margin-left: 0px;
                margin-top: 20px; width: 120px;">
                Add To Wishlist</button>
            <button id="BuyButton" class="k-button" type="${Book_Id}" title="email" name="${EmailAddress}"
                style="margin-left: 0px; margin-top: 20px; width: 120px">
                Email me</button>
            <table class="RatingTable" style="width: 100%; padding-left: 10px; table-layout: auto;">
                <tr>
                    <td class="style1">
                        <p style="font-size: x-large; font-family: Arial; margin-bottom: 100px;">
                            Customer Reviews
                            <br />
                            <span style="font-size: medium;"><strong>Average Customer Review</strong> </span>
                            <br />
                            <br />
                            <span class="star" id="${Book_Id}" style="font-size: medium; padding-left: 30px;">
                            </span>
                        </p>
                    </td>
                    <td class="style2">
                        <br />
                        <ul class="insidebars" style="padding-left: 45px;">
                            <li><a>5 stars</a></li>
                            <li><a>4 stars</a></li>
                            <li><a>3 stars</a></li>
                            <li><a>2 stars</a></li>
                            <li><a>1 stars</a></li>
                        </ul>
                    </td>
                    <td class="style3">
                        <ul class="bars">
                            <li class="progress1"></li>
                            <li class="progress2"></li>
                            <li class="progress3"></li>
                            <li class="progress4"></li>
                            <li class="progress5"></li>
                        </ul>
                    </td>
                    <td>
                        <br />
                        <ul class="outsidebars">
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="commentSection">
                <!-- <fieldset style="width: 450px;">-->
                <div class="header">
                    <h3 class="commentsHeader" style="color: olive; padding-left: 30px; padding-top: 5px;
                        margin-bottom: 10px">
                        Comments</h3>
                </div>
                <div>
                    <table style="table-layout: auto; position: relative; right: 20px;">
                        <tr>
                            <td>
                                <p class="ReviewsContainer">
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!--<p class="ReviewsContainer">
                    </p>-->
                    <div class="commentbox">
                        <img class="AddComment" src="../images/add_comment.png" style="height: 52px; width: 57px" />
                        <h2 style="color: Olive;">
                            <strong>Add a Comment</strong>
                        </h2>
                        <textarea class="k-textbox" id="MessageTextBox" cols="20" rows="2" style="height: 190px;
                            width: 520px; margin-top: 25px"></textarea>
                        <br />
                        <button title="SubmitReviews" class="k-button" style="margin-left: 195px; margin-top: 0px">
                            Submit</button>
                    </div>
                </div>
                <!--  </fieldset>-->
            </div>
        </div>
    </div>
</div>
<div id="right">
    <!-- Sidebar widgets -->
    <div class="sidebar">
        <ul>
            <li class="sidebox widget_categories">
                <h3 class="sidetitl">
                    Categories</h3>
                <ul class="categories">
                </ul>
            </li>
        </ul>
    </div>
    <div class="clear">
    </div>
</div>
<div class='clear'>
</div>
