<div class="story" id="post-33">
    <span class="categ"><a href="../ContentPages/BooksLibrary.aspx?cid=${Category_Id}"
        title="View all posts in ${CategoryName}" rel="category tag">${CategoryName}</a></span>
    <h2>
        <a href="../ContentPages/BooksLibrary.aspx?bid=${Book_Id}" rel="bookmark" title="Permanent Link to ${Title}">
            ${Title}</a></h2>
    <div class="entry">
        <a href="../ContentPages/BooksLibrary.aspx?bid=${Book_Id}">
            <img width="120" height="120" src="../../BookImages/${BookImageName}" class="s-image wp-post-image" /></a>
        <p>
            ${Description} [...]</p>
        <a class="rmore" href="../ContentPages/BooksLibrary.aspx?bid=${Book_Id}">Read More</a>
        <div class='clear'>
        </div>
    </div>
</div>
