<div id="content" class="animated bounceIn">
    <div id="respond" style="margin-top: 0px; margin-left: 0px;">
        <h2 id="reply-title" style="text-align: center; color: chocolate">
            Account Information
        </h2>
        <p class="comment-form-author">
            <label for="author">
                First Name</label>
            <input id="FirstNameTextBox" type="text" name="fname" value="${FirstName}" /></p>
        <p class="comment-form-email">
            <label for="email">
                Last Name</label>
            <input id="LastNameTextBox" type="text" name="lname" value="${LastName}" /></p>
        <p class="comment-form-url">
            <label for="url">
                Email</label><input id="EmailAddressTextBox" type="text" name="checkemail" value="${EmailAddress}" /></p>
        <p class="comment-form-url">
            <label for="url">
                Country</label><input id="CountryTextBox" type="text" name="country" value="Pakistan"
                    readonly="readonly" /></p>
        <p class="comment-form-comment">
            <label for="comment">
                City</label><input id="CityTextBox" type="text" name="city" value="Karachi" readonly="readonly" /></p>
        <p>
            <label for="comment">
                CellPhone</label><input id="CellPhoneTextBox" type="text" name="cellphone" value="${CellPhone}" /></p>
        <!-- allowed tags -->
        <!-- ENDS allowed tags -->
        <p style="margin-top: 15px;">
            <input id="submitButton" type="button" value="Update" style="cursor: pointer">
        </p>
    </div>
    
</div>
